<!DOCTYPE html>
<html>
	<head>
		<title><%= file.frontMatter.title %></title>
		<!-- <link rel="stylesheet" type="text/css" href="<%= base_url %>styles/bootswatch.css"> -->
		<link rel="stylesheet" type="text/css" href="<%= base_url %>styles/reset.css">

		<link rel="stylesheet" type="text/css" href="<%= base_url %>styles/atelier-health.light.css">
		<link rel="stylesheet" type="text/css" href="<%= base_url %>styles/main.css">
		<script type="text/javascript">
			var base_url = "<%= base_url %>";
		</script>

		<link rel="stylesheet" href="<%= base_url %>tocbot/tocbot.css">

	</head>
	<body id="compform" class="<%= file.frontMatter.toc%>-toc">
		<div class="js-toc"></div>
		<!-- title: <%= file.frontMatter.title %> -->
		<div class="container">
			<%= contents %>
		</div>

		<script type="text/javascript" src="<%= base_url %>javascript/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="<%= base_url %>javascript/highlight.pack.js"></script>
		<script type="text/javascript" src="<%= base_url %>javascript/p5_example.js"></script>
		<script src="<%= base_url %>tocbot/tocbot.js"></script>

		<script type="text/javascript">
			$(function () {
				$("table").addClass("table table-bordered");
			});
			$("h1, h2, h3, h4").each(function (i) {
				$(this).attr("id", "h_" + i);

			});

			tocbot.init({
				// Where to render the table of contents.
				tocSelector: '.show-toc .js-toc',
				// Where to grab the headings to build the table of contents.
				contentSelector: '.container',
				// Which headings to grab inside of the contentSelector element.
				headingSelector: 'h1, h2, h3',
				collapseDepth: 2
			});
		</script>
	</body>
</html>
